#submit {
    width: 100px;
    height: 40px;
    left: calc(50% - 96px/2 - 9.5px);
    top: -4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: center;

    color: #177165;
}

.trash {
    height: 20px;
}  

/* .add-items {
    position: relative;
    display: inline-block;

}
.add-items:before {
    position: absolute;
    display: block;
    bottom: -5px;

}
.delete{
    bottom: -5px;
    right: 0%;
    top: 50%;
    display: block;
    position: absolute;
    cursor: pointer;
    
}

.add-list {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
} */

.add li {
    display: flex;
    flex-direction: row;
}

.add-item span {
    text-decoration:line-through;
}